{% extends 'partials/base.html' %}
{% block title %} Home Page{% endblock %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="map-container">
    <div class="row">
        <div class="col-md-8" style="max-width:1000px;padding-top:20px;margin:auto;">
            {{ m | safe }}
        </div>
        <div class="col-md-4">
            <div id="timeline" style="position:absolute;right:20px;top:20px;"></div>
        </div>    
        <div class= "col-md-10" style="padding-top:10px;margin:auto;">
            {% for name, group in groups %}
            <a href="{% url 'submap' name %}"><button>{{ name }}</button></a>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#timeline").datepicker({
          dateFormat: "yy-mm-dd",
          minDate: new Date(2019, 0, 1),
          maxDate: new Date(2021, 11, 31),
          changeMonth: true,
          changeYear: true,
          onSelect: function(selectedDate) {
            // Do something when the date is selected, like updating markers or data
          }
        });
      });
      
</script>

{% endblock %}