{% extends 'partials/base.html' %}
{% block title %} Home Page{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

<div class="map-container">
    <div class="current-date-range" style="padding-left:20px;">
        Current date range: {{ data_range }}
    </div>
    <div class="row">
        <div class="col-md-8" style="max-width:900px;padding-top:20px;margin:auto;">
            {{ m | safe }}
        </div>
        <div class="col-md-4" style="padding-top:100px;">
            <form method="POST" >
                {% csrf_token %}
                <p>Select the date: <input type="text" id="datepicker" name="date_range" ></p>
                <button type="submit">Submit</button>
            </form>
            <br>
            <table style="border:solid;width:90%;">
                <tr style="border:solid;text-align:center;">
                    <th  style="border:solid;text-align:center;">API Status</th>
                    <th  style="border:solid;text-align:center;">API Value</th>
                </tr>
                <tr style="border:solid">
                    <td  style="border:solid;text-align:center;background-color:cornflowerblue;">Good</td>
                    <td  style="border:solid;text-align:center;background-color:cornflowerblue;">0-50</td>
                </tr>
                <tr style="border:solid">
                    <td  style="border:solid;text-align:center;background-color:limegreen;">Moderate</td>
                    <td  style="border:solid;text-align:center;background-color:limegreen;">51-100</td>
                </tr>
                <tr style="border:solid">
                    <td  style="border:solid;text-align:center;background-color:yellow;">Unhealthy</td>
                    <td  style="border:solid;text-align:center;background-color:yellow;">101-200</td>
                </tr>
                <tr style="border:solid">
                    <td  style="border:solid;text-align:center;background-color:orange;">Very Unhealthy</td>
                    <td  style="border:solid;text-align:center;background-color:orange;">201-300</td>
                </tr>
                <tr>
                    <td  style="border:solid;text-align:center;background-color:red;">Dangerous</td>
                    <td  style="border:solid;text-align:center;background-color:red;">More than 300</td>
                </tr>
            </table>
        </div>    
    </div>
</div>

<script>
    $( "#datepicker" ).datepicker({
      dateFormat: "yy-mm",
      minDate: new Date(2019, 0), // January 1st, 2019
      maxDate: new Date(2021, 11) // December 31st, 2021
    });
    
    var date_range = "{{data_range}}";
    
    // Do something when the date is selected, like updating markers or data
  </script>

{% endblock %}