{% extends 'partials/base.html' %}
{% block title %}Station-{{name}} {% endblock %}
{% block content %}

<div class="submap" style="padding-left:20px;padding-top:20px;padding-bottom:20px;">
    <div class="row">
        <div class= "col-md-10">
            <a href="{% url 'index'%}"><button> Back to Home Page</button></a>
        </div>
    </div>
</div>

<div class="container">
    <ul>
        {% for station in station_names %}
            <li style="display:inline-block;padding-top:10px;padding-right:20px;margin:auto;"><button onclick="showData('{{ station }}')">{{ station }}</button></li>
        {% endfor %}
    </ul>
</div>

<table id="data-table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody id="data-body">
    </tbody>
</table>

<script>
    var month_rows = {
        {% for month, value in month_rows %}
        "{{ month }}": {
            {% for index, state in states %}
            "{{ state }}": {{ value[index] }},
            {% endfor %}
        },
        {% endfor %}
    };

    function showData(station_name) {
        var data = month_rows[station_name];
        var tbody = document.getElementById("data-body");
        tbody.innerHTML = "";
        for (var key in data) {
            var value = data[key];
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            td1.innerHTML = key;
            var td2 = document.createElement("td");
            td2.innerHTML = value;
            tr.appendChild(td1);
            tr.appendChild(td2);
            tbody.appendChild(tr);
        }
    }
</script>

{% endblock %}
